<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyFristApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A9DB2D11C891F71000A1D41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A9DB2EA1C891F71000A1D41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A9DB2F51C891F71000A1D41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
